body {
  font-family: sans-serif;
  background-color:#001a33 ;
  text-align: center;
  color: white;
}
#blue{
  background-color: #001a33;
}
#deepbluepadd{
  background-color: #00002E;
  padding: 25px;
  color: white;
}
#black{
  text-align: center;
  color: white;
  background-color: black;
}
#blueword{
  color: #001a33
}

#gold{
  background-color: #001a33;
  text-align: center;
}
#gold-white{
  background-color: #001a33;
  text-align: center;
  color: white;
  margin: 10px;
  width: auto;
}
#purple{
  background: #001a33;
  color: white;
  margin: 10px;
  width: auto;
}
#green{
  background-color:  #2A3B1E;
  color: white;
  margin: 10px;
  width: auto;
}
#full{
  width: 100%;
}
.parallax {
  background-image: url("images/company.png");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#grey{
  background-color: #404040;
}
#grey-trans{

  background-color: #000000e6;;
  margin-top: 50px;
  margin-right: 5px;
  color: white;
  padding: 90px 45px
}
.greyback{
  opacity: 0.7;
  background-color: #404040;
  color: white;
}

.card{
  padding:8px;
  width:100%;
  height: 200px;
  margin-bottom: 20px;
}
.rounded{
  border-radius: 10px;
}
.curved{
  border-radius: 30px;
}
#left{
  text-align: left;
}
#left-p{
  text-align: left;
  padding-top: 25px;
}
#magin{
  margin-top: 23px;
}
#magin2{
  padding-bottom: 40px;
}
#grey-white{
  background-image: url("images/greyback.png");
  color: white;
  padding: 5px;
  height: 300px;
}
#item{
  align-items: center;
  align: center;
  width: 100%;
}
.parallax2{
  background-image: url("images/greyback.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 100px
}

.navbar {
  margin-bottom: 0;
  background-color: #001a33;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #001a33 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

#footer{
  padding: 50px 25px;
  text-align: center;
  background-color: #001a33;
  color:white;
}
.jumbotron {
  background-size: cover;
  background-color: black;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
#fol{
  background-image: url(images/fol.png);
  background-size: cover;
  height: 200px;
  color: black;
}
#hardware{
  background-image: url(images/hardware3.png);
  background-size: cover;
  height: 200px;
  color: black;
}
#web{
  background-image: url(images/web2.png);
  background-size: cover;
  height: 200px;
  color: black;
}
#delivery{
  background-image: url(images/delivery.png);
  background-size: cover;
  height: 200px;
  color: black;
}
@media screen and (max-width: 1136px) {

  .parallax{
    background-attachment: inherit;
  }
  .parallax2{
    background-attachment: inherit;
  }
  .parallax3{
    background-attachment: inherit;
  }
}
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 20px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
#blacktext{
  color: black;
}
.head{
  padding: 30px;
  background-color: white;
  color: #001a33;
}
#document{
  text-align: justify;
  margin-left: 20px;
  font-family: times;
}
#doc-center{
  text-align: center;
  font-family: times;
  font-size: 50px;
  font-style: oblique;
  text-decoration: underline;
}
#docbody{
  font-size: 18px;
}
#bodyhead-u{
  text-decoration: underline;
  font-size: 34px;
}
#bodyhead-h{
  font-size: 34px;
}
#bodyhead-i{
  font-style: italic;
  font-size: 34px;
}
#bodyhead{
  font-style: italic;
  text-decoration: underline;
  font-size: 34px;
}
#in{
  margin-left: 50px;
}
li{
  text-indent: 30px;
}

.contact-pic {
  background-image: url("images/chair.jpg");
  background-size: cover;
  text-align: center;
}

.jumbotron {
  background: #001a33;
  color: #FFF;
  border-radius: 0px;
  }
  .jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
  }
  .h1 small {
  font-size: 24px;
  }
  .parallax3{
    background-image: url("images/software-engineering.jpg");
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
  }
#computer{
  background-image: url("images/computer-rep.png");
  background-size: cover;
  margin: 10px;
}
#web3{
  background-image: url("images/webdesigning.png");
  background-size: cover;
  color: black;
  margin: 10px;
}
#devices{
  background-image: url("images/update.png");
  background-size: cover;
  color: inherit;
  margin: 10px;
}
.white{
  background-color: white;
  background-size: cover;
  width: 100%;
  color: black;
}
.white-qr{
  background-color: white;
  background-size: cover;
  color: black;
}
#center{
  margin-top: 70px;
}

#Servicesrow{
  padding-left: 80px;
  padding-right: 80px;
}

.row2{
  padding-left: 140px;
  padding-right: 80px;
  text-align: right;
}



 .headservices{
  background-image: url("images/services-header-bg.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  font-family: Montserrat, sans-serif;
 }

 #Services{
  font-family: sans-serif;
  background-color: white ;
  text-align: center;
  color: #001a33; 
 }

 .footers{
  color: white;
  background-color: #001a33;
  font-family: sans-serif;
}
 #yellow{
   font-size: 3em;
   color:yellow; 
   text-align: left;
   padding-left: 90px;
 }

 #os{
  text-align: left;
  padding-left: 90px;
  font-size: 4em;
 }

 #mo{
  text-align: left;
   padding-left: 90px;
 }

 #glyphicon{
   font-size: 10em;
 }

 .containers {
  position: relative;
  width: 50%;
}

.images {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #001a33;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}