body {
  font-family: sans-serif;
  background-color: #00002E;
}
#deepblue{
  background-color: #00002E;
}
#deepbluepadd{
  background-color: #00002E;
  padding: 25px;
  color: white;
}
#black{
  text-align: center;
  color: white;
  background-color: black;
}
#white{
  background-color: ;
  text-align: center;
  color: white;
}
#gold{
  background-color: #a19c12;
  text-align: center;
}
#gold-white{
  background-color: #a19c12;
  text-align: center;
  color: white;
}
#purple{
  background: #4D3EAC;
  color: white;
}
#green{
  background-color:  #2A3B1E;
  color: white;
}
#full{
  width: 100%;
}
.parallax {
  background-image: url("images/company.png");
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#grey{
  background-color: #404040;
}
#grey-trans{
  opacity: 0.7;
  background-color: #404040;
  margin-top: 40px;
  color: white;
}
.card{
  padding:10px;
  width:100%;
}
.rounded{
  border-radius: 10px;
}
#left{
  text-align: left;
}
#left-p{
  text-align: left;
  padding-top: 25px;
}
#padd{
  padding: 25px;
}
#grey-white{
  background-color: #404040;
  color: white;
  padding: 5px;
}
#item{
  align-items: center;
  align: center;
  width: 100%;
}
